<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <meta name="author" content="zovik.moscow">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>
        {% block title %}
            Промо кухни ЗОВ
        {% endblock %}
    </title>

    <link href="{{ asset('bundles/kuhni/css/bootstrap.css') }}" rel="stylesheet" type="text/css">

    <style>
        body{
            background: url("/web/bundles/kuhni/img/promo/promo1920.svg") no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        button{
            background-color: white;
            color: #ea5471;
            border: 1px solid #ea5471;
        }
        button:hover{
            background-color: #ea5471;
            color: white;
            border: 1px solid white;
        }
        .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        @media (max-width: 1660px) {
            .container{
                top: 40%;
            }
        }
        @media (max-width: 1375px) {
            .container{
                top: 35%;
            }
        }
        @media (max-width: 1024px) {
            .container{
                position: absolute;
                left: 50%;
                top: 80%;
                transform: translate(-50%,-50%);
            }
            body{
                background: url("/web/bundles/kuhni/img/promo/promo320.svg") no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
        @media (max-width: 768px) {
            .container{
                top: 70%;
            }
        }
        @media (max-width: 550px) {
            .container{
                top: 45%;
            }
        }
        @media (max-width: 475px) {
            .form-group {
                margin-bottom: 0.5em;
            }
            .container{
                font-size: 12px;
                top: 40%;
            }
        }
        @media (max-width: 380px) {
            .container{
                top: 40%;
            }
        }
        @media (max-width: 340px) {
            .container{
                top: 35%;
            }
        }
    </style>
</head>
<body>
    {% include 'promo/section-promo.html.twig' %}
</body>
</html>
