<section id="map-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    АДРЕСА САЛОНОВ НА КАРТЕ
                </h2>
            </div>
        </div>
    </div>
    <div id="map"></div>
</section>