<section id="ordercall">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Закажите обратный звонок</h2>
                <h3 class="section-subheading text-muted">Это бесплатно. Наш дизайнер свяжется с Вами в ближайшее время.</h3>
            </div>
            <div class="col-lg-6">
                <form id="ordercallForm" class="form-inline" name="sentOrderCall" novalidate>
                    <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Ваше Имя *" required data-validation-required-message="Укажите ваше Имя.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="phone" type="tel" placeholder="Ваш Телефон *" required data-validation-required-message="Укажите ваш телефон для связи.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-xl" type="submit">Заказать</button>
                    </div>
                    <div id="success"></div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</section>