<section class="testimonial">
    <div class="container">
        <div class="testimonial_inner">
            <div>
                <div class="textcol press_review">
                    <div class="title">Hettich</div>
                    <p>One of the best all-around, portable Bluetooth speakers on the market.</p>
                </div>
            </div>
            <div>
                <div class="textcol press_review">
                    <div class="title">Blum</div>
                    <p>UE ticks so many of the right boxes that it's hard to recommend anything better.</p>
                </div>
            </div>
        </div>
    </div>
</section>