<section id="contact">
    <div class="container">
        <div class="row">
            <div class="hidden-sm col-md-2 col-lg-2 text-center">
                <p>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('bundles/kuhni/img/logo_white.svg') }}"/></a>
                </p>
                <p>
                    Федеральная торговая сеть ЗОВ на территории России
                </p>
            </div>
        </div>
    </div>
</section>