<section id="calc">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 vkladka text-center" style="border-top: 1px solid #7f7f7f;">
                <button type="button" data-toggle="modal" data-target="#zayavkaRazmer">
                    <i class="fa fa-arrows-h"></i>Заказать замер
                </button>
            </div>
            <div class="col-sm-3 vkladka text-center">
                <button type="button" data-toggle="modal" data-target="#costProject">
                    <i class="fa fa-calculator"></i>Расчитать кухню
                </button>
            </div>
            <div class="col-sm-3 vkladka text-center">
                <button type="button" data-toggle="modal" data-target="#designerAtHome">
                    <i class="fa fa-pencil"></i>Визит дизайнера
                </button>
            </div>
            <div class="col-sm-3 vkladka text-center">
                <button type="button" data-toggle="modal" data-target="#">
                    <i class="fa fa-map-marker"></i>Ближайший салон
                </button>
            </div>
        </div>
    </div>
</section>