<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="copyright">Copyright &copy; 2017 ЗОВ.МОСКВА, Все права защищены.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Вся представленная на сайте информация, касающаяся характеристик, наличия, стоимости товаров,
                    носит информационный характер, и ни при каких условиях не является публичной офертой,
                    определяемой положениями Статьи 437(2) Гражданского кодекса РФ.
                    Отправляя свои данные,  вы даете согласие в соответствии с ФЗ «О персональных данных».
                </p>
            </div>
        </div>
    </div>
</footer>