<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Кухни ЗОВ — Настроение вашего дома!</div>
            <div class="intro-heading">Эксклюзивно в МОСКВЕ</div>
            <a href="#services" class="btn btn-xl">Узнать больше</a>
        </div>
    </div>
</header>