<section id="kroshki">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-left">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left kroshki-top">
            </div>
        </div>
    </div>
</section>