<section id="footer-buttons">
    <nav class="fixed-bottom">
        <div class="navbar">
            <ul class="nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modal-style">по стилю</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modal-material">по материалу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#modal-config">по форме</a>
                </li>
            </ul>
        </div>
    </nav>
</section>