section{
	padding-bottom: 0;
	padding-top: 100px;
}
#wo-breadcrumbs{
	display: inline-flex;
	width: 100%;
}
header.masthead.all{
	height: 250px;
}
div#map{
	width: 100%;
	height: 450px;
}
.slide-product-img{
	width: 100%;
	height: 100%;
	max-height: 550px;
}
#kroshki{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-top: 40px;
	color: #7f7f7f;
	.kroshki-top{
		margin-left: 15px;
		margin-right: 15px;
		border-bottom: #7f7f7f 1px solid;
	}
	.under{
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.kroshki-right{
		color: #193153;
	}
	.active{
		color: red;
	}
	.fa-share{
		color: black;
	}
}
#product{
	color: #7f7f7f;
	padding-top: 0;
	padding-bottom: 30px;
	margin-bottom: 0;
	margin-right: 20px;
	h3{
		font-size: 22px;
	}
	.slick-prev:before, .slick-next:before {
		color: #111;
	}
	.slick-next{
		right: 0;
	}
	.slick-dots{
		margin-bottom: 60px;
	}
	.slick-prev{
		left: 0;
		z-index: 100;
	}
	#description{
		.title{
			color: #3a3e4a;
		}
		.price{
			p{
				line-height: 1.15em;
				vertical-align: middle;
				margin-bottom: 10px;
				font-size: 13px;
				padding-left: 20px;
				padding-right: 20px;
			}
			.active{
				color: red;
			}
			.head{
				text-transform: uppercase;
				font-size: 14px;
			}
			.procent.active{
				span{
					background-color: #fee3e1;
					padding: 5px 15px 5px 15px;
				}
				font-size: 30px;
			}
			a{
				color: #193153;
				font-size: 14px;
			}
		}
	}
	.static-description{
		font-size: 12px;
	}
	.static-icons{
		margin-top: 20px;
	}
	.btn-xl {
		font-size: 1rem;
		padding: 20px 20px;
	}
}
#desc-fasade{
	padding-top: 0;
	padding-bottom: 30px;
	margin-bottom: 30px;
	.title-desc{
		border-bottom: 1px #000 dotted;
	}
	ul.tabs{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.tabs li{
		background: none;
		color: #7f7f7f;
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
	}
	ul.tabs li.current{
		color: #3a3e4a;
	}
	.tab-content{
		display: none;
		padding: 15px;
		font-size: 14px;
		p{
			margin-bottom: 0;
		}
		img{
			width: 50px ;
			height: 50px;
		}
	}
	.tab-content.current{
		display: inherit;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.fasad{
		.title{
			color: #7f7f7f;
			font-size: 14px;
			span{
				color: #193153;
			}
			margin-bottom: 15px;
		}
		.images-fasad{
			margin-right: 5px;
		}
	}
}
#calc{
	button{
		border: none;
		background-color: unset;
		margin: 30px;
		color: #7f7f7f;
		font-size: 16px;
		i{
			color: black;
			font-size: 18px;
			padding-right: 10px;
		}
	}
	margin: 0 15px 30px;
	.row{
		.vkladka{
			border: 1px solid #7f7f7f;
			border-left: none;
		}
		:last-child{
			border-right: none;
		}
		:first-child{
			border-left: none;
		}
	}
}
#article{
	h3{
		font-family: 'Open+Sans Bold', Helvetica Neue, 'Arial', sans-serif;
		color: black;
		font-size: 30px;
	}
	p{
		font-family: 'Open+Sans', Helvetica Neue, 'Arial', sans-serif;
		color: black;
		font-size: 12px;
	}
}
section#reviews{
	line-height: 1em;
	h3{
		font-family: 'Open+Sans Bold', Helvetica Neue, 'Arial', sans-serif;
		color: black;
		font-size: 30px;
	}
	p{
		font-family: 'Open+Sans Italic', 'Arial', sans-serif;
		color: #7f7f7f;
		font-size: 16px;
		text-transform: none;
		margin-bottom: 50px;
		a{
			text-decoration: underline;
			color: #7f7f7f;
		}
	}
	ul{
		text-decoration: none;
		li.name{
			color: black;
			font-size: 16px;
			font-family: 'Open+Sans Regular', Helvetica Neue, 'Arial', sans-serif;
		}
		li.date{
			padding-top: 5px;
			font-size: 12px;
			color: black;
			font-family: 'Open+Sans Light', Helvetica Neue, 'Arial', sans-serif;
		}
		font-family: 'Open+Sans Italic', Helvetica Neue, 'Arial', sans-serif;
		color: #7f7f7f;
		font-size: 16px;
	}
	p#star{
		i{
			color: #ffce21;
		}
		margin-bottom: 0;
	}
	p#geo{
		font-family: 'Open+Sans Light', Helvetica Neue, 'Arial', sans-serif;
		font-size: 13px;
		color: #7f7f7f;
		span{
			text-decoration: underline;
		}
	}
	p#info{
		font-family: 'Open+Sans Light', Helvetica Neue, 'Arial', sans-serif;
		font-size: 12px;
		border-bottom: 6px solid #193153;
		color: #7f7f7f;
		padding-bottom: 10px;
		span.more-info{
			text-decoration: underline;
		}
	}
}
#more-prod{
	margin: 0 15px 30px;
	padding: 0;
	#see-more{
		.left-desc{
			width: 50%;
			p{
				margin: 0;
				font-size: 14px;
				color: #7f7f7f;
				padding: 0 15px 0 0;
			}
			.title{
				text-transform: uppercase ;
				color: #193153;
			}
		}
		.nav-item{
			line-height: 5;
			img{
				max-width: 100px;
				max-height: 100px;
				vertical-align: middle;
			}
		}
	}
}
span{padding: 0;}
#all-products{
	line-height: 1.15;
	padding: 150px 0 0 0;
	a{
		.pos-bot-r.desc {
			color: #3f3f3f;
			line-height: 1;
			padding: 12px 0 0;
			height: 50px;
			width: 50px;
			position: absolute;
			right:  0;
			z-index: 10;
			background-color: yellow;
			font-size: 12px;
			.title{
				font-size: 18px;
			}
		}
		.pos-bot-l {
			color: #3f3f3f;
			div{
				margin-top: 10px;
				margin-left: 10px;
			}
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			z-index: 10;
			height: 50px;
			padding-bottom: 0;
			padding-right: 5px;
			background-color: rgba(228, 228, 228, 0.7);
			.last-price{
				.through{
					text-decoration: line-through;
				}
			}
			.now-price{
				color: red;
			}
		}
	}
	.big-col{
		padding: 0;
		margin-bottom: 10px;
		.phone{
			bottom: 78px;
		}
		.pos-bot-r.desc {
			bottom: 0;
		}
		.pos-bot-l {
			width: 90%;
			ul.nav>.left{
				width: 60%;
			}
			ul.nav>.right{
				width: 40%;
			}
			.first-name{
				font-size: 17px;
			}
			.first-desc{
				color: #7f7f7f;
				font-size: 12px;
			}
			.last-price{
				font-size: 14px;
			}
			.now-price{
				font-size: 20px;
			}
		}
	}
	.small-col{
		padding: 0;
		flex: 0 0 calc(50% - 10px);
		margin-left: 10px;
		.pos-bot-l {
			ul.nav>.left{
				width: 50%;
			}
			ul.nav>.right{
				width: 50%;
			}
			width: 100%;
			.first-name{
				font-size: 14px;
			}
			.last-price{
				font-size: 13px;
			}
			.now-price{
				font-size: 16px;
			}
		}
		button.phone{
			top: 60px;
			right: 0;
		}
		.pos-bot-r.desc {
			top: 0;
		}
	}
	.phone{
		background-color: rgba(228, 228, 228, 0.79);
		width: 50px;
		height: 50px;
		font-size: 35px;
		color: #000;
		right: 0;
		padding: 7px;
		position: absolute;
		z-index: 10;
	}
	.like{
		background-color: rgba(228, 228, 228, 0);
		width: 80px;
		height: 50px;
		font-size: 16px;
		left: 10px;
		top: 20px;
		padding: 7px;
		position: absolute;
		z-index: 99;
		color: red;
		border: none;
	}
	.first-small-col{
		margin-left: 0;
	}
	.marginleft10{
		margin-left: 10px;
	}
	.row{
		margin-right: -25px;
	}
	.slide-product-img.big{
		height: 500px;
	}
	.slide-product-img{
		height: 245px;
	}
	.big-a-10{
		margin-left: 10px;
		.pos-bot-l {
			margin-left: 10px;
		}
		.phone{
			right: -10px;
		}
		.pos-bot-r.desc {
			right: -10px;
		}
		.like{
			margin-left: 10px;
		}
	}
}
.modal-body{
	background: #193153 url(/web/bundles/kuhni/img/map-image.png) no-repeat center;
	margin: 15px;
}
section#services{
	line-height: 1.15em;
	color: #7f7f7f;
	font-size: 12px;
	h4.service-heading{
		font-size: 12px;
		font-family: 'Open+Sans Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	p{
		line-height: 1.15em;
		font-family: 'Open+Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	li{
		list-style: none;
	}
	ul{
		padding-left: 0;
	}
	ul li:before {
		content: '-';
		position: relative;
		left:     -5px;
	}
}
section#freedesignshag{
	padding-top: 20px;
	color: white;
	background: #193153 url("/web/bundles/kuhni/img/map-image.png") no-repeat center;
}
@media (max-width: 1200px) {
	#product{
		#description{
			.price{
				p{
					font-size: 20px;
				}
			}
		}
		.product-images{
			margin-left: 40px;
		}
	}
	#all-products{
		.no-margin-left{
			margin-left: 0;
		}
		.marginleft10{
			margin-left: 0;
		}
		.slide-product-img{
			height: 350px;
		}
		.big{
			height: 450px;
		}
		.big-a-10{
			margin-left: 0;
			.pos-bot-l {
				margin-left: 0;
			}
			.phone{
				right: 0;
			}
			.pos-bot-r.desc {
				right: 0;
			}
			.like{
				margin-left: 0;
			}
		}
	}
}
@media (max-width: 767px) {
	#all-products{
		.row {
			margin-right: -15px;
		}
		.slide-product-img.big{
			height: 350px;
		}
		.small-col.full-screen{
			flex: 0 0 100%;
			margin-left: 0;
		}
	}
}
@media (max-width: 575px) {
	#calc{
		.row{
			.vkladka{
				border: 1px solid #7f7f7f;
				border-top: none;
			}
		}
	}
}
@media (max-width: 539px) {
	#all-products{
		.big-col{
			.pos-bot-l {
				width: 100%;
				ul.nav>.left{
					width: 50%;
				}
				ul.nav>.right{
					width: 50%;
				}
				.first-desc{
					display: none;
				}
				.last-price{
					font-size: 13px;
				}
				.now-price{
					font-size: 16px;
				}
			}
			.phone{
				top: 60px;
				right: 0;
			}
			.pos-bot-r.desc {
				top: 0;
			}
		}
	}
}