header.masthead.all{
	height: 250px;
}
.slide-product-img{
	width: 100%; 
	height: 100%; 
	max-height: 550px;
}
#kroshki{
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-bottom: 0; 
	margin-top: 40px; 
	color: #7f7f7f;
	.kroshki-top{
		margin-left: 15px;
		margin-right: 15px;
		border-bottom: #7f7f7f 1px solid;
	}
	.under{
		margin-top: 15px; 
		margin-bottom: 5px; 
	}
	.kroshki-right{
		color: #193153;
	}
	.active{
		color: red;
	}
	.fa-share{
		color: black;
	}
}
#product{
	color: #7f7f7f;
	padding-top: 0; 
	padding-bottom: 30px; 
	margin-bottom: 0; 
	h3{
		font-size: 22px; 
	}
	.slick-prev:before, .slick-next:before {
		color: #111;
	}
	.slick-next{
		right: 0;
	}
	.slick-dots{
		margin-bottom: 60px;
	}
	.slick-prev{
		left: 0;
		z-index: 100;
	}
	#description{
		.title{
			color: #3a3e4a;
		}
		.price{
			p{
				margin-bottom: 0;  
				font-size: 20px;
				padding-left: 20px;
				padding-right: 20px;  
			}
			p.active{
				color: red;
			}
			p.head{
				text-transform: uppercase;
				font-size: 12px; 
			}
			p.procent{
				background-color: #fee3e1; 
			}
			a{
				color: #193153;
				font-size: 12px; 
			}
		}
	}
	.static-description{
		font-size: 12px; 
	}
	.static-icons{
		ul{
			margin-top: 20px; 
			width: 100%; 
			li{
				margin-left: 10px; 
				font-size: 10px; 
				width: 30%; 
			}
		}
	}
}
#desc-fasade{
	padding-top: 0; 
	padding-bottom: 30px; 
	margin-bottom: 30px;
	.title-desc{
		border-bottom: 1px #000 dotted; 
	}
	ul.tabs{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.tabs li{
		background: none;
		color: #7f7f7f;
		display: inline-block;
		padding: 10px 15px;
		cursor: pointer;
	}
	ul.tabs li.current{
		color: #3a3e4a;
	}
	.tab-content{
		display: none;
		padding: 15px;
		font-size: 14px; 
		p{
			margin-bottom: 0;
		}
		img{
			width: 50px ;
			height: 50px; 
		}
	}
	.tab-content.current{
		display: inherit;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.fasad{
		.title{
			color: #7f7f7f;
			font-size: 14px; 
			span{
				color: #193153;
			}
			margin-bottom: 15px; 
		}
		.images-fasad{
			margin-right: 5px; 
		}
	}
}
#calc{
	margin-left: 15px; 
	margin-right: 15px; 
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0;
	.row{
		.vkladka{
			border: 1px solid black;
			border-left: none; 
			color: #7f7f7f;
			font-size: 14px; 
			p{
				padding-top: 30px;
				padding-bottom: 30px; 
				margin-bottom: 0;
				i{
					color: black;
					font-size: 18px; 
					padding-right: 10px; 
				}
			}
		}
		:last-child{
			border-right: none;
		}
		:first-child{
			border-left: none;
		}
	}  
}
#more-prod{
	margin-left: 15px; 
	margin-right: 15px; 
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0;
	#see-more{
		.left-desc{
			width: 50%; 
			p{
				padding: 0;
				margin: 0;  
				font-size: 14px; 
				color: #7f7f7f;
				padding-right: 15px; 
			}
			.title{
				text-transform: uppercase ;
				color: #193153; 
			}
		}
		.nav-item{
			line-height: 5;
			img{
				max-width: 100px; 
				max-height: 100px; 
				vertical-align: middle;
			}
		}
	}
}
span{
	padding: 0;
}
#all-products{
	.setka{
		line-height: 1.15;
		padding: 0;
		.like{
			background-color: none;
			width: 80px;
			height: 50px;
			font-size: 16px;
			left: 10px;
			top: 20px;
			padding: 7px;
			position: absolute;
			z-index: 99;
			color: red;
		}
		.phone{
			background-color: rgba(228, 228, 228, 0.79);
			width: 50px;
			height: 50px;
			font-size: 35px;
			color: #000;
			right: 0;
			padding: 7px;
			position: absolute;
			z-index: 10;
		}
		.pos-bot-r.desc {
			color: #3f3f3f;
			line-height: 1;
			padding: 0;
			padding-top: 12px;
			height: 50px;
			width: 50px;
			position: absolute;
			right:  0;
			z-index: 10;
			background-color: yellow;
			font-size: 12px;
			.title{
				font-size: 18px;
			}
		}
		.pos-bot-l {
			color: #3f3f3f;
			div{
				margin-top: 10px;
				margin-left: 10px;
			}
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			z-index: 10;
			height: 50px;
			padding-bottom: 0;
			padding-right: 5px;
			background-color: rgba(228, 228, 228, 0.7);
			.last-price{
				.through{
					text-decoration: line-through;
				}
			}
			.now-price{
				color: red;
			}
		}
		.item.big{
			.phone{
				bottom: 60px;
			}
			.pos-bot-r.desc {
				bottom: 0;
			}
			.pos-bot-l {
				width: 90%;
				ul.nav>.left{
					width: 60%;
				}
				ul.nav>.right{
					width: 40%;
				}
				.first-name{
					font-size: 17px;
				}
				.first-desc{
					color: #7f7f7f;
					font-size: 12px;
				}
				.last-price{
					font-size: 14px;
				}
				.now-price{
					font-size: 20px;
				}
			}
		}
		.item.small{
			.pos-bot-l {
				ul.nav>.left{
					width: 50%;
				}
				ul.nav>.right{
					width: 50%;
				}
				width: 100%;
				.first-name{
					font-size: 14px;
				}
				.last-price{
					font-size: 13px;
				}
				.now-price{
					font-size: 16px;
				}
			}
			.phone{
				top: 60px;
			}
			.pos-bot-r.desc {
				top: 0;
			}
		}	
	}
}