<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('bundles/kuhni/img/logo_white.svg') }}"/></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#podbor-style"><i class="mutted-item">Подбор<br></i>по стилю</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#podbor-config"><i class="mutted-item">Подбор<br></i>по материалу</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#podbor-material"><i class="mutted-item">Подбор<br></i>по форме</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team"><i class="mutted-item">Заказать<br></i>Кухни</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact"><i class="mutted-item">Позвонить<br></i>+7 (987) 522-55-22</a>
            </li>
        </ul>
    </div>
</nav>