<section class="bg-light" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Кухни по цвету</h2>
                <h3 class="section-subheading text-muted">Подбор кухонь по цвету/оттенку.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_white.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Белые</p>

                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_black.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Черные</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_grey.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Серые</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_green.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Зеленые</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_white.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Бежевые</p>

                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_black.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Красные</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_grey.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Коричневые</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_green.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Желтые</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_white.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Оранжевые</p>

                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_black.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Синие</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_grey.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Голубые</p>
                </div>
            </div>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchencolor_green.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <p class="text-muted">Фиолетовые</p>
                </div>
            </div>
        </div>

    </div>
</section>