<div id="podbor-config"></div>
<section class="bg-light" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Кухни по конфигурации</h2>
                <h3 class="section-subheading text-muted">Подбор кухонь по форме.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_line.svg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Прямые кухни</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_degree.svg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Угловые кухни</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_pobraznye.svg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>П образные кухни</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_sostrovom.svg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Кухни с островом</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

        </div>


        <div id="collapse-kitchentype" class="collapse">
            <div class="row">
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_small.svg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Малогабаритные кухни</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_gostinaya.svg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухня гостиная</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchentype_stolovaya.svg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухня столовая</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-center"><a data-toggle="collapse" data-target="#collapse-kitchentype">Показать/скрыть еще (3) конфигурации</a></div>

    </div>
</section>