<div id="podbor-style"></div>
<section class="bg-light" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Кухни по стилю</h2>
                <h3 class="section-subheading text-muted">Посмотрите кухни по стилю.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-sovremennye.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Современные кухни</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-provans.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Кухни Прованс</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-klassicheskie.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Классические кухни</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-loft.jpg" alt="">
                </div>
                <div class="portfolio-caption">
                    <h4>Кухни Лофт</h4>
                    <p class="text-muted">Всегда в тренде</p>
                </div>
            </div>

        </div>


        <div id="collapse-kitchenstyle" class="collapse">
            <div class="row">
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-kantri.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухни Кантри</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-haitek.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухни Хай Тек</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-skandinavskiy.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухни в Скандинавском стиле</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-retro.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Ретро кухни</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-minimalizm.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухни Минимализм</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <div class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="../img/catalog/thumbnails/kitchenstyle-modern.jpg" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>Кухни Модерн</h4>
                        <p class="text-muted">Всегда в тренде</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center"><a data-toggle="collapse" data-target="#collapse-kitchenstyle">Показать/скрыть еще (6) стилей</a></div>

    </div>
</section>