<section id="article">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>СДЕЛАЕМ КУХНЮ ПО НАШИМ БЕЛОРУССКИМ ЦЕНАМ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ kitchen.article|raw }}
            </div>
        </div>
    </div>
</section>