<section id="desc-fasade">
    <div class="container-fluid">
        <ul class="tabs">
            <div class="row">
                <div class="col-6 text-center">
                    <li class="tab-link current" data-tab="tab-1">Описание</li>
                </div>
                <div class="col-6 text-center">
                    <li class="tab-link" data-tab="tab-2">Фасады</li>
                </div>
            </div>
        </ul>
        <div class="row">
            <div id="tab-1" class="tab-content current">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Название характеристики</th>
                            <th>Характеристика</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Размер</th>
                            <td>280х160см</td>
                        </tr>
                        <tr>
                            <th>Название фасада</th>
                            <td>Акрил Како, Акрил Винил</td>
                        </tr>
                        <tr>
                            <th>Материал фасада</th>
                            <td>Акрил</td>
                        </tr>
                        <tr>
                            <th>Столешница</th>
                            <td>Бежевый гранит 38мм</td>
                        </tr>
                        <tr>
                            <th>Корпус</th>
                            <td>ЛДСП Негро 18мм</td>
                        </tr>
                        <tr>
                            <th>Фурнитура</th>
                            <td>Hettich, Blum, FGV</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab-2" class="tab-content fasad">
                <div class="col-12">
                    <div class="title">
                        Возможные варианты цветового исполнения фасадов
                        <span>
                            кухни из акрила
                        </span>
                    </div>
                    <div class="images-fasad">
                        <img src="img/logos/1.png" alt="1" title="1">
                        <img src="img/logos/2.png" alt="2" title="2">
                        <img src="img/logos/3.png" alt="3" title="3">
                        <img src="img/logos/4.png" alt="4" title="4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>