<section id="kroshki">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-left">
                Главная <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                Кухни <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                Акриловые кухни <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                Кухня из акрила какао
            </div>
            <div class="col-lg-6 text-right kroshki-right">
                Следующий товар >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left kroshki-top">
            </div>
        </div>
        <div class="row under">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-left">
					<span class="likes active">
						<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						Нравится (29)
					</span>
                Выполнено проектов
                <span class="count-projects active">(24)</span>
                Поделиться с друзьями
                <i class="fa fa-share" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>