<section id="more-prod">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>смотрите также</p>
            </div>
        </div>
        <div class="row" id="see-more">
            <div class="col-md-3 col-sm-12 text-center">
                <ul class="nav">
                    <li class="nav-item left-desc">
                        <p class="title">Шкафы и цвета корпусов</p>
                        <p>которые мы делаем</p>
                    </li>
                    <li class="nav-item">
                        <img class="rounded" src="img/logos/1.png" alt="1" title="1">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <ul class="nav">
                    <li class="nav-item left-desc">
                        <p class="title">ручки</p>
                        <p>используемые в наших кухнях</p>
                    </li>
                    <li class="nav-item">
                        <img class="rounded" src="img/logos/1.png" alt="1" title="1">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <ul class="nav">
                    <li class="nav-item left-desc">
                        <p class="title">Витрины</p>
                        <p>которые дополнят дизайн кухни</p>
                    </li>
                    <li class="nav-item">
                        <img class="rounded" src="img/logos/1.png" alt="1" title="1">
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <ul class="nav">
                    <li class="nav-item left-desc">
                        <p class="title">Аксессуары и комплектующие</p>
                        <p>функциональность нашей кухни</p>
                    </li>
                    <li class="nav-item">
                        <img class="rounded" src="img/logos/1.png" alt="1" title="1">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>