<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-left">
            <h1 class="text-center">
            Настоящая Политика конфиденциальности регулирует порядок обработки и использования персональных и иных данных ООО «ЗОВ МЕБЕЛЬ ОПТ» (далее — ЗМО).
            </h1>
            <p>
            Передавая ЗМО персональные и иные данные посредством Сайта, Пользователь подтверждает свое согласие на использование указанных данных на условиях, изложенных в настоящей Политике конфиденциальности.
            </p>
            <p>
            Если Пользователь не согласен с условиями настоящей Политики конфиденциальности, он обязан прекратить использование Сайта.
            </p>
            <p>
            Безусловным акцептом настоящей Политики конфиденциальности является начало использования Сайта Пользователем.
            </p>
            <h4 class="text-center">
            1. ТЕРМИНЫ
            </h4>
            <p>
            1.1. Сайт - сайт, расположенный в сети Интернет по адресу https://зов.москва/
            </p>
            <p>
            Все исключительные права на Сайт и его отдельные элементы (включая программное обеспечение, дизайн) принадлежат ЗМО в полном объеме.
            </p>
            <p>
            Передача исключительных прав Пользователю не является предметом настоящей Политики конфиденциальности.
            </p>
            <p>
            1.2. Пользователь — лицо использующее Сайт.
            </p>
            <p>
            1.3. Законодательство — действующее законодательство Российской Федерации.
            </p>
            <p>
            1.4. Персональные данные — персональные данные Пользователя, которые Пользователь предоставляет о себе самостоятельно при Регистрации, заполнении онлайн-заявок или в процессе использования функционала Сайта.
            </p>
            <p>
            1.5. Данные — иные данные о Пользователе (не входящие в понятие Персональных данных).
            </p>
            <p>
            1.6. Регистрация — заполнение Пользователем Регистрационной формы, расположенной на Сайте, путем указания необходимых сведений.
            </p>
            <p>
            1.7. Регистрационная форма — форма, расположенная на Сайте, которую Пользователь должен заполнить для прохождения Регистрации на Сайте.
            </p>
            <p>
            1.8. Услуга(и) — услуги, предоставляемые ЗМО.
            </p>
            <h4 class="text-center">
            2. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ
            </h4>
            2.1. ЗМО собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг ЗМО и взаимодействия с Пользователем.
            <p>
            2.2. Персональные данные могут использоваться в следующих целях:
            </p>
            <p>
            2.2.1 Оказание Услуг Пользователю;
            </p>
            <p>
            2.2.2 Идентификация Пользователя;
            </p>
            <p>
            2.2.3 Взаимодействие с Пользователем;
            </p>
            <p>
            2.2.4 Направление Пользователю рекламных материалов, информации и запросов;
            </p>
            <p>
            2.2.5 Проведение статистических и иных исследований;
            </p>
            <p>
            2.2.6 Обработка платежей Пользователя;
            </p>
            <p>
            2.3. ЗМО в том числе обрабатывает следующие данные:
            </p>
            <p>
            2.3.1 Фамилия, имя и отчество;
            </p>
            <p>
            2.3.2 Адрес электронной почты;
            </p>
            <p>
            2.3.3 Номер мобильного телефона;
            </p>
            <p>
            2.3.4 Название компании, должность.
            </p>
            <p>
            2.4. Пользователю запрещается указывать на Сайте персональные данные третьих лиц.
            </p>
            <h4 class="text-center">
            3. ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ
            </h4>
            <p> 3.1. ЗМО обязуется использовать Персональные данные в соответствии с Федеральным Законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г. и внутренними документами ЗМО.
            </p>
            <p>
            3.2. В отношении Персональных данных и иных Данных Пользователя сохраняется их конфиденциальность, кроме случаев, когда указанные данные являются общедоступными.
            </p>
            <p>
            3.3. ЗМО имеет право сохранять архивную копию Персональных данных и Данных, в том числе после удаления аккаунта Пользователя.
            </p>
            <p>
            3.4. ЗМО имеет право передавать Персональные данные и Данные Пользователя без согласия Пользователя следующим лицам:
            </p>
            <p>
            3.4.1 Государственным органам, в том числе органам дознания и следствия, и органам местного самоуправления по их мотивированному запросу;
            </p>
            <p>
            3.4.2 Партнерам ЗМО;
            </p>
            <p>
            3.4.3 В иных случаях, прямо предусмотренных действующим законодательством РФ.
            </p>
            <p>
            3.5. ЗМО имеет право передавать Персональные данные и Данные третьим лицам, не указанным в п. 3.4. настоящей Политики конфиденциальности, в следующих случаях:
            </p>
            <p>
            3.5.1 Пользователь выразил свое согласие на такие действия;
            </p>
            <p>
            3.5.2 Передача необходима в рамках использования Пользователем Сайта или оказания Услуг Пользователю;
            </p>
            <p>
            3.6. ЗМО осуществляет автоматизированную и ручную обработку Персональных данных и Данных.
            </p>
            <p>
            <h4 class="text-center">
            4. ИЗМЕНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ
            </h4>
            <p>
            4.1. Пользователь может в любой момент изменить (обновить, дополнить) Персональные данные путем направления письменного заявления в ЗМО.
            </p>
            <p>
            4.2. Пользователь в любой момент имеет право удалить Персональные данные.
            </p>
            <p>
            4.3. Пользователь гарантирует, что все Персональные данные являются актуальными и не относятся к третьим лицам.
            </p>
            <p>
            <h4 class="text-center">
            5. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
            </h4>
            <p>
            5.1. ЗМО осуществляет надлежащую защиту Персональных и иных данных в соответствии с Законодательством и принимает необходимые и достаточные организационные и технические меры для защиты Персональных данных.
            </p>
            <p>
            5.2. Применяемые меры защиты в том числе позволяют защитить Персональные данные от неправомерного или случайного доступа, уничтожения, изменения, копирования, распространения, а также от иных неправомерных действий с ними третьих лиц.
            </p>
            <h4 class="text-center">
            6. ИНЫЕ ПОЛОЖЕНИЯ
            </h4>
            <p>
            6.1. К настоящей Политике конфиденциальности и отношениям между Пользователем и ЗМО, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
            </p>
            <p>
            6.2. Все возможные споры, вытекающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством по месту регистрации ЗМО. Перед обращением в суд Пользователь должен соблюсти обязательный досудебный порядок и направить в ЗМО соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней.
            </p>
            <p>
            6.3. Если по тем или иным причинам одно или несколько положений Политики конфиденциальности будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики конфиденциальности.
            </p>
            <p>
            6.4. ЗМО имеет право в любой момент изменять Политику конфиденциальности (полностью или в части) в одностороннем порядке без предварительного согласования с Пользователем. Все изменения вступают в силу на следующий день после размещения на Сайте.
            </p>
            <p>
            6.5. Пользователь обязуется самостоятельно следить за изменениями Политики конфиденциальности путем ознакомления с актуальной редакцией.
            </p>
            <h4 class="text-center">
            7. КОНТАКТНАЯ ИНФОРМАЦИЯ ЗМО
            </h4>
            <p>
            7.1. E-mail: info@зов.москва
            </p>
        </div>
    </div>
</div>