<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css">
    <link href="{{ asset('bundles/kuhni/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css">
    <style>
        .col-10{
            margin-left: 8%;
        }
    </style>
</head>
<body class="sonata-bc">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="connection">
            <div class="login-box">
                <div class="login-box-body">
                    {% block form %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/kuhni/js/jquery.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script>
    $("head").append(
        '<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">'
    );
</script>
<script>
    jQuery(document).ready(function() {
        $('.js-datepicker').datepicker();
    });
    $('body').on('submit', '.ajaxForm', function (e) {
        e.preventDefault();
        $('form button').attr("disabled", "disabled");
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
        }).done(function (data, status) {
            $('form').trigger('reset');
            data = $.parseJSON(data);
            if ((data['success'] = 'success') && (status = 'success')) {
                $('form').prepend(
                    '<div class="alert alert-success" role="alert">' +
                    '<strong>' + data['result'] + '</strong>' +
                    '</div>'
                );
            } else {
                $('form').prepend(
                    '<div class="alert alert-error" role="alert">' +
                    '<strong>Ваш заказ не найден, обратитесь к менеджеру.</strong>' +
                    '</div>'
                );
            }
            $('form button').removeAttr("disabled", "disabled");
            setTimeout(function () {
                $('.alert').fadeOut('fast')
            }, 10000);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (typeof jqXHR.responseJSON !== 'undefined') {
                if (jqXHR.responseJSON.hasOwnProperty('form')) {
                    $('#form_body').html(jqXHR.responseJSON.form);
                }
                $('.form_error').html(jqXHR.responseJSON.message);
            } else {
                alert(errorThrown);
            }
            $('form button').removeAttr("disabled", "disabled");
        });
    });
</script>
</body>
</html>